* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../images/minimalist-purple-sky-and-mountain.jpg");
    background-color: #cccccc;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

a{
    color: #9bde9b;
}

a:hover{
    font-size: 120%;
    color: white;
}

header, footer {
    color: #E3D7FF;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background-color: #7A89C2;
    border-style: outset;
    border-radius: 10px;
    box-shadow: 1px 10px 18px black;
    border-color: #7A89C2;
}

header,footer,main {
    max-width: 36rem; /*16px * 36 = 576px*/
    margin: 0 auto;/* Center from left to right*/
    padding: 2rem;
}

#flex-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#flex-1{
    flex-grow: 1;
}

#flex-2{
    flex-grow: 3;
    font-size: large;
}

footer{
    text-align: center;
}

ul{
    padding: 10px;
    margin-left: 30px;
}

li{
    line-height: 1.5;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#profile-pic {
    width: 100px;
    height: auto;
    border-style: outset;
    box-shadow: 5px 10px 18px black;
}

#modifiedLine{
    font-size: small;
}

#assign-portal-text{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}