body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
}

.navigation {
    display: flex;
}

.navigation li {
    display: block;
    /* change state in small view */
    flex: 1 1 auto;
}

.navigation a {
    text-align: center;
}

.navigation li:first-child {
    display: none;
}

.nav-social {
    margin: auto;
}

.main-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
}

.spotlight-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    order: 0;
    grid-row: 1/4;
    grid-column: 3/4;
    margin: 0 auto;

}

main article {
    margin: 0 auto;
    width: 100%;
    height: auto;
}


.spotlight-flex article:nth-child(3) {
    display: flex;
    flex-direction: column;
}

.spotlight-flex article {
    flex: 1 1 0px;
    margin: 5px;
}

main article:nth-child(6) {
    grid-row: 3/4;
    grid-column: 1/2;
}

main article:nth-child(5) {
    grid-row: 2/3;
    grid-column: 1/2;
}

main article:nth-child(4) {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
}

main article:nth-child(2) {
    grid-row: 3/4;
    grid-column: 2/3;
}

main article:nth-child(1) {
    grid-row: 1/3;
    grid-column: 2/3;
    width: 100%;
    height: auto;
}

.hero-article{
    min-width: 800px;
}

.copy-mod {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.foot-logo h3 {
    font-size: 2rem;

}

.foot-logo p {
    font-size: 1rem;
}

footer p {
    font-size: 1rem;
}

.headings h1 {
    font-size: 2.5rem;
}

.m {
    font-size: 1.5rem;
}

.welcome-banner picture{
    width: 100%;
    height: auto;
}

.welcome-banner picture img{
    width: 100%;
    height: auto;
}
