* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
}

header,
footer,
main {
    max-width: 100%;
    /*16px * 36 = 576px*/
    margin: 0 auto;
    /* Center from left to right*/
    padding: .5rem;
    font-family: 'Exo 2', sans-serif;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: black;
    text-align: center;
    color: gold;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    color: gold;
    background-color: black;
}

#header-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header-bot {
    width: 100%;
    padding: 10px;
    border: 1px outset aquamarine;
    background-color: aquamarine;
    text-align: center;
    margin-top: 10px;
    color: black;
    font-weight: bolder;
}

.header-row,
.nav-social {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.header-row {
    align-items: center;
}

.header-row picture {
    width: 150px;
    height: auto;
    align-self: flex-end;
    /* margin-right: 10px; */

}

.header-row picture img {
    width: 100%;
}

.social picture {
    width: 20px;
    height: 20px;
}

.social picture img {
    width: 100%;
    display: block;
}

.headings {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
    font-family: 'Niconne', cursive;
}

.headings h1 {
    margin-bottom: 5px;
    font-size: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    width: 100%;
}

main article {
    width: 100%;
    height: 200px;
    border: 1px outset black;
    background-color: lightgray;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.spotlight-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    order: 1;
    padding: 30px;
    border: 1px outset black;
    background-color: lightgrey;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.spotlight-flex article {
    height: 150px;
    margin: 0 auto;
}

.spotlight-flex article:nth-child(3) {
    display: none;
}

nav {
    margin: 0 auto;
    width: 100%;
    align-content: end;

}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: gold;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
    content: "☰ ";
}

.navigation a:hover {
    color: black;
    background-color: aquamarine;
}

.responsive li {
    display: block;
}

.responsive a.ham::before {
    content: "❌ ";
}

.copyright p:nth-child(2n) {
    display: none;
}

.foot-logo{
    font-family: 'Niconne', cursive;
}