/* Navigation list styling */
.navigation {
    display: flex;
}

.navigation li {
    display: block;
    /* change state in small view */
    flex: 1 1 auto;
}

.navigation a {
    text-align: center;
}

.navigation li:first-child {
    display: none;
}

.nav-social {
    margin: auto;
}

/* Main Grid Styling-Large */
.main-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "event   hero spotlight"
                         "weather hero spotlight"
                         "join    news spotlight";
    gap: 1rem;
}

.hero-box{
    grid-area: hero;
}

.event-box{
    grid-area: event;
}

.weather-box{
    grid-area: weather;
}

.join-box{
    display: block;
    grid-area: join;
}

.news-box{
    grid-area: news;
}

.spotlight-box{
    display: flex;
    flex-direction: column;
    grid-area: spotlight;
    gap: .5em;
}

.spotlight-1,
.spotlight-2{
    min-height:30%;
    min-width: 90%;
}

.spotlight-3{
    margin: 0 auto;
    display: block;
    border: 1px black solid;
    min-height:30%;
    min-width: 90%;
    display: flex;
    flex-direction: column;
    gap: .2em;
}