/* Header font styling */
.header-name-top-bot h1{
    font-size: 3em;
    margin: 0;
}

.header-name-top-bot p{
    font-size: 2em;
}

/* Main grid Styling-Medium */
.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "hero      hero      hero"
                         "news      news      news"
                         "spotlight spotlight spotlight"
                         "join      join      join"
                         "event     event     weather";
    
    gap: 1rem;
}

.hero-welcome-h2{
    font-size: 2rem;
}

.hero-box{
    grid-area: hero;
}

.news-box{
    grid-area: news;
}

.join-box{
    display: grid;
    grid-area: join;
}

.event-box{
    grid-area: event;
}

.weather-box{
    grid-area: weather;
}

.spotlight-box{
    grid-area: spotlight;
    display: flex;
    flex-direction: row;
    min-height: 10em;
}

.spotlight-1,
.spotlight-2{
    min-width: 40%;
    min-height: 90%;
}

/* Discovery Main Grid & Picture Styling */
.discovery-main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
               " heading heading"
               " text1   image1"
               " image2  text2"
               " text3   image3"
               " image4  text4"
               " text5   image5";
}

.discovery-main-grid div:hover,
.discovery-main-grid picture:hover{
    -webkit-box-shadow: -2px 19px 24px 0px rgba(0, 0, 0, 0.3);

    -moz-box-shadow: -2px 19px 24px 0px rgba(0, 0, 0, 0.3);

    box-shadow: -2px 19px 24px 0px rgba(0, 0, 0, 0.3);

    transform: translate(0px, -4px);

}

.discover-heading{
    grid-area: heading;
}

.geography-box{
    grid-area: text1;
}

.geography-pic{
    grid-area: image1;
}

.history-box{
    grid-area: text2;
}

.history-pic{
    grid-area: image2;
}

.population-box{
    grid-area: text3;
}

.population-pic{
    grid-area: image3;
}

.culture-box{
    grid-area: text4;
}

.culture-pic{
    grid-area: image4;
}

.economics-box{
    grid-area: text5;
}

.economics-pic{
    grid-area: image5;
}

/* Styling for contact page medium*/
.director-flex{
    display: flex;
    flex-direction: row;
}