/* Full page styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Page body styling */
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Resonsive Navigation menu styling */
nav {
    margin: 0 auto;
    width: 100%;
    align-content: end;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: gold;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
    content: "☰ ";
}

.navigation a:hover {
    color: black;
    background-color: aquamarine;
}

.responsive li {
    display: block;
}

.responsive a.ham::before {
    content: "❌ ";
}

/* Main, Header, Footer page styling */
header,
footer,
main {
    max-width: 100%;
    /*16px * 36 = 576px*/
    margin: 0 auto;
    /* Center from left to right*/
    padding: .5rem;
    font-family: 'Exo 2', sans-serif;
}

header,
footer {
    width: 100%;
    background-color: black;
    color: gold;
}

footer {
    /* position: relative;  */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: gold;
}

/* Header flexboxes */
.message {
    border: .2rem outset lightcoral;
    background-color: orange;
    color: white;
    font-weight: bolder;
    text-align: center;
    display: none;
}

.full-header-flex {
    display: flex;
    flex-direction: column;
}

.header-top-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo-name-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-name-top-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Niconne', cursive;
}

.header-name-top-bot h1 {
    font-size: 1.5em;
    margin: 0 auto;
}

.header-name-top-bot p {
    font-size: .8em;
}

.nav-box {
    margin-right: 1em;
}

.header-bottom {
    align-self: center;
    width: 90%;
    text-align: center;
    justify-content: center;
    border-radius: .3em;
    background-color: aquamarine;
    font-weight: 800;
    color: black;
    padding: .5em;
}

/* Footer div and flexboxes */
.copyright p:nth-child(2n) {
    display: none;
}

.foot-logo {
    font-family: 'Niconne', cursive;
}

/* Image styling */
.logo-pic-container {
    width: 5em;
    height: auto;
}

.logo-pic-container img {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Main grid styling */
.main-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5em;
}

.hero-box,
.weather-box,
.news-box,
.event-box,
.join-box {
    border: 1px black solid;
    min-height: 10em;


}

.weather-box,
.news-box,
.event-box,
.join-box,
.spotlight-box {
    border-radius: 1em;
    padding: .5em;
    text-align: center;
    background-color: aquamarine;
}

.weather-box {
    background-color: black;
    font-weight: bolder;
    color: gold;
}

.spotlight-1,
.spotlight-2,
.spotlight-3 {
    border-radius: 1em;
    padding: .5em;
    text-align: center;
    background-color: gold;
    font-weight: bolder;
}

.spotlight-box div picture img {
    border: 0.5rem outset lightcoral;
    border-radius: .5rem;
    background-color: lightseagreen;
}

.hero-box,
.weather-box,
.news-box,
.event-box,
.join-box,
.spotlight-box,
.spotlight-1,
.spotlight-2,
.spotlight-3 {
    -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    -webkit-transition: all ease-in-out 500ms;

    -moz-transition: all ease-in-out 500ms;

    -o-transition: all ease-in-out 500ms;

    transition: all ease-in-out 500ms;
}

.hero-box:hover,
.weather-box:hover,
.news-box:hover,
.event-box:hover,
.join-box:hover,
.spotlight-box:hover,
.spotlight-1:hover,
.spotlight-2:hover,
.spotlight-3:hover {
    -webkit-box-shadow: -2px 19px 24px 0px rgba(0, 0, 0, 0.3);

    -moz-box-shadow: -2px 19px 24px 0px rgba(0, 0, 0, 0.3);

    box-shadow: -2px 19px 24px 0px rgba(0, 0, 0, 0.3);

    transform: translate(0px, -4px);
}


.join-box {
    display: none;
}

.event-box {
    grid-row: 2/3;
}

.weather-box {
    grid-row: 3/4;
}

.spotlight-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    min-height: 20em;
    padding: 1em;
}

.spotlight-1,
.spotlight-2 {
    margin: 0 auto;
    display: block;
    border: 1px black solid;
    min-width: 90%;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.spotlight-3 {
    display: none;
}

/* Hero Welcome Banner Styling */
.hero-welcome-banner {

    height: 100%;
    position: relative;
}

.hero-welcome-h2 {
    width: 100%;
    background-color: black;
    position: absolute;
    top: 25px;
    font-weight: bolder;
    font-size: 1rem;
    color: gold;
    text-align: center;
}

.hero-welcome-btn {
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    right: 25px;
    width: 15em;
    max-width: 50%;
    background-color: black;
    color: #FFD414;
    border-radius: 12px;
    padding: 14px 40px;
    font-size: 1.5em;
    transition: all 0.5s;
    cursor: pointer;
}

.hero-welcome-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.475), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.hero-welcome-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.hero-welcome-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.hero-welcome-btn:hover span {
    padding-right: 25px;
}

.hero-welcome-btn:hover span:after {
    opacity: 1;
    right: 0;
}

/* Join Us box button styling */
.join-box-btn {
    margin: 10px;
    width: 90%;
    background-color: gold;
    color: black;
    border: 1px solid gold;
    border-radius: 12px;
    padding: 14px 40px;
    font-size: 1.5em;
    transition: all 0.5s;
    cursor: pointer;


}

.join-box-btn:hover {
    color: gold;
    background-color: black;
}

.join-box-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.join-box-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.join-box-btn:hover span {
    padding-right: 25px;
}

.join-box-btn:hover span:after {
    opacity: 1;
    right: 0;
}

/* Weather box styling */
.weather-box div {
    justify-content: center;
}

.weather-icon-temperature {
    display: flex;
    flex-direction: row;
    gap: .5em;
    margin: .5em;
}

.weather-icon-temperature picture {
    border: 0.5rem outset lightcoral;
    background-color: lightseagreen;
    border-radius: .5rem;
}

.weather-icon-temperature h3 {
    align-self: center;
}

/* Discovery page Grid & Picture styling */
.discovery-main-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    background-image: url("../images/bahamas-map.webp");
}

.discovery-main-grid div {
    border-radius: .5rem;
    background-color: aquamarine;
    padding: 1rem;
    -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    -webkit-transition: all ease-in-out 500ms;

    -moz-transition: all ease-in-out 500ms;

    -o-transition: all ease-in-out 500ms;

    transition: all ease-in-out 500ms;
}

.discovery-main-grid picture img[data-src] {
    filter: blur(0.2em);
}

.discovery-main-grid picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}


.discovery-main-grid picture {
    margin: auto;
    max-width: 18.75rem;
    border: 1em outset gold;
    -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    -webkit-transition: all ease-in-out 500ms;

    -moz-transition: all ease-in-out 500ms;

    -o-transition: all ease-in-out 500ms;

    transition: all ease-in-out 500ms;
}

/* Join Page & Form Stylings */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: aquamarine;
    font-weight: bolder;
    border: 1px solid grey;
    border-radius: .5em;
    padding: 2em;
    -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.49);

    -webkit-transition: all ease-in-out 500ms;

    -moz-transition: all ease-in-out 500ms;

    -o-transition: all ease-in-out 500ms;

    transition: all ease-in-out 500ms;
}

form label,
form input {
    display: block;
    width: 100%;
}

form input {
    margin-bottom: 1em;
    padding: .75em;
    background-color: lightgoldenrodyellow;
}

label input {
    display: inline;
    width: auto;
    margin: 0;
}

form label.required::after {
    content: " *";
    color: red;
}

input:invalid {
    box-shadow: 0 0 2px 1px red;
}

form fieldset {
    padding: 1em;
    margin-bottom: 1em;
}

.need-space {
    margin-bottom: 1em;
    ;
}

/* Flex box for the entire join page content */
#join-page-body {
    background-image: url("../images/bahamas-map.webp");

}

.join-page-flex {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

/* Styling for the join buttons that appear on small page*/
.join-small-page-buttons {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.button {
    border: none;
    text-decoration: none;
    font-size: 1em;
    background-color: white;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.4s;
    padding: 1em;
}

.button:hover {
    text-decoration: underline;
    color: gold;
    background-color: black;
}

/* Styling for the flex box and member option divs */
.member-options-flex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1em;
}

.member-options-flex div {
    text-align: center;
    font-weight: bolder;
    width: 100%;
    margin: 0 auto;
    border: .5rem outset lightcoral;
    border-radius: .5em;
    background-color: black;
    color: gold;
    padding: 1em;
    -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.49);

    -webkit-transition: all ease-in-out 500ms;

    -moz-transition: all ease-in-out 500ms;

    -o-transition: all ease-in-out 500ms;

    transition: all ease-in-out 500ms;
}

/* Styling for Directory page and its Cards */
.directory-main-grid {
    width: 100%;
    background-image: url("../images/bahamas-map.webp");
}

#discovery-grid-btn,
#discovery-list-btn {
    margin: 1rem;
    padding: 1rem;
    background-color: azure;
    font-weight: bolder;
}

#main-div {
    margin: 1rem;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 1rem;
}

.cards-grid section {
    flex-direction: column;
    text-align: center;
}

.cards-grid section img {
    max-width: 50%;
}

.cards-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cards-list section {
    display: flex;
    align-items: center;
    max-height: 18.75rem;
}

.cards-list section img {
    max-width: 10%;
    max-height: 5%;
}

.cards-list section>* {
    margin: 0 1rem;
    text-align: left;
}

#main-div img {
    margin: 1rem;
    background-color: lightseagreen;
    border: .5rem outset lightcoral;
}

#main-div section {
    min-width: 18.75rem;
    margin: 0 auto;
    background-color: gold;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: .5em;
    padding: 1rem;
    gap: .5rem;
    -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.49);

    -webkit-transition: all ease-in-out 500ms;

    -moz-transition: all ease-in-out 500ms;

    -o-transition: all ease-in-out 500ms;

    transition: all ease-in-out 500ms;
}

#main-div section:hover {
    -webkit-box-shadow: -2px 19px 24px 0px rgba(0, 0, 0, 0.3);

    -moz-box-shadow: -2px 19px 24px 0px rgba(0, 0, 0, 0.3);

    box-shadow: -2px 19px 24px 0px rgba(0, 0, 0, 0.3);

    transform: translate(0px, -4px);
}

.directory-heading {
    text-align: center;
    border-radius: .5rem;
    background-color: black;
    color: gold;
    padding: 1rem;
    -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.49);

    -webkit-transition: all ease-in-out 500ms;

    -moz-transition: all ease-in-out 500ms;

    -o-transition: all ease-in-out 500ms;

    transition: all ease-in-out 500ms;
}

/* Styling for the contact page */

.contact-main-grid{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    gap: 2rem;
    background-image: url("../images/bahamas-map.webp");

}

.contact-main-grid h2{
    margin: 1rem;
    text-align: center;
    font-weight: bolder;
    background-color: black;
    color: gold;
    padding: 1rem;
    border-radius: .5rem;
    -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.49);

    -webkit-transition: all ease-in-out 500ms;

    -moz-transition: all ease-in-out 500ms;

    -o-transition: all ease-in-out 500ms;

    transition: all ease-in-out 500ms;
}

.contact-info-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info-styles{
    margin: auto;
    padding: 1rem;
    font-weight: bolder;
    text-align: center;
    border: .2rem solid lightgray;
    background-color: lightgray;
    max-width: 21rem;
    -webkit-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    -moz-box-shadow: -2px 7px 40px 2px rgba(0, 0, 0, 0.49);

    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.49);

    -webkit-transition: all ease-in-out 500ms;

    -moz-transition: all ease-in-out 500ms;

    -o-transition: all ease-in-out 500ms;

    transition: all ease-in-out 500ms;

}

.director-flex{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flip-card {
    margin: auto;
    background-color: transparent;
    width: 200px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side */
.flip-card-front {
    background-color: lightseagreen;
    color: black;
}

/* Style the back side */
.flip-card-back {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: lightseagreen;
    color: black;
    transform: rotateY(180deg);
}