* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Page body styling */
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.cards{
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18.75rem,1fr));
    gap: 1rem;
}

.cards section img{
    margin: 0 auto;
    width: 50%;
    border: .5rem outset gold;
}

.cards section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: azure;
    border: 1px solid black;
    border-radius: .5em;
    text-align: center;
    padding: 1rem;
    gap: .5rem;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.49);
}

